<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url('homepage') }}">Filmdab</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url('homepage') }}">{% trans %}navigation.movies_list{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('movie_create') }}">{% trans %}navigation.add_movie{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('director_create') }}">{% trans %}navigation.add_director{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('genre_create') }}">{% trans %}navigation.add_genre{% endtrans %}</a>
            </li>
        </ul>
    </div>
</nav>